.settings {
  margin: auto;
  width: 45%;
}

.settings-button {
  margin-top: 1cm;
  margin-bottom: 1cm;
}

.multiple-result {
  font-size: 2em;
}

#tooltip-color {
  font-size: 1em;
  width: 200px;
}

#result-numbers-prev {
  font-size: 4em;
}

#result-color {
  width: 150px;
  height: 150px;
  display: inline-block;
  border: 2px solid black;
  margin: 3px;
}

#colorNumResult {
  font-size: 3em;
}

#result-numbers {
  font-size: 6em;
}

#result-element {
  font-size: 5em;
}

.sequences-input {
  width: 75%;
  height: 200px;
  overflow: auto;
}

.result-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 75%;
  text-align: center;
  margin: 10px auto;
}

.result-previous {
  flex: 1;
  opacity: 50%;
  text-align: center;
  margin: 1em auto;
  padding: 5px;
}

.result-previous-animation {
  animation-name: num-prev-animate;
  animation-duration: 1s;
}

.result {
  flex: 1;
  text-align: center;
  margin: 1em auto;
  padding: 5px;
}

.result-num-animation {
  animation-name: num-animate;
  animation-duration: 1s;
}

.result-color-animation-show {
  animation-name: color-animate-show;
  animation-duration: 1s;
}

.result-color-animation-change {
  animation-name: color-animate-change;
  animation-duration: 1s;
}

@keyframes num-animate {
  from {
    opacity: 10%;
    margin-right: -50%;
  }
  to {
    opacity: 100%;
    margin-right: 0px;
  }
}

@keyframes num-prev-animate {
  from {
    opacity: 0%;
    margin-right: -50%;
  }
  to {
    opacity: 50%;
    margin-right: 0px;
  }
}

@keyframes color-animate-show {
  0% {
    width: 10px;
    height: 10px;
  }
  100% {
    width: 150px;
    height: 150px;
  }
}

@keyframes color-animate-change {
  0% {
    width: 150px;
    height: 150px;
  }
  50% {
    width: 160px;
    height: 160px;
  }
  100% {
    width: 150px;
    height: 150px;
  }
}

.description-text {
  font-size: 1.5em;
}
