.settings {
  text-align: left;
  margin: auto;
  width: 50%;
}

.description-text {
  font-size: 1.2rem;
}

.settings-button {
  margin-top: 1cm;
  margin-bottom: 1cm;
}

.multiple-result {
  font-size: 2em;
}

.sequences-input {
  width: 75%;
  height: 200px;
  overflow: auto;
}

.result-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 75%;
  text-align: center;
  margin: 10px auto;
}

.result-previous {
  flex: 1;
  opacity: 50%;
  text-align: center;
  margin: 1em auto;
  padding: 5px;
}

.result {
  flex: 1;
  text-align: center;
  margin: 1em auto;
  padding: 5px;
}

#tooltip-color {
  font-size: 1em;
  width: 200px;
}

#result-numbers-prev {
  font-size: 4em;
}

#result-color {
  width: 150px;
  height: 150px;
  display: inline-block;
  border: 2px solid black;
  margin: 3px;
}

#result-chord {
  display: inline-block;
  font-size: 6vh;
  word-wrap: break-word;
  border: 1px solid grey;
  border-radius: 10%;
  padding: 10px;
  margin: 15px;
}

#result-numbers {
  font-size: 10vh;
  word-wrap: break-word;
  width: 100%;
}

#result-string {
  font-size: 8vh;
  word-wrap: break-word;
  width: 100%;
}

#result-element {
  font-size: 6vw;
  word-wrap: break-word;
  width: 100%;
}

.result-num-animation {
  animation-name: num-animate;
  animation-duration: 1s;
}

.result-previous-animation {
  animation-name: num-prev-animate;
  animation-duration: 1s;
}

.result-color-animation-show {
  animation-name: color-animate-show;
  animation-duration: 1s;
}

.result-color-animation-change {
  animation-name: color-animate-change;
  animation-duration: 1s;
}

.result-string-animation {
  animation-name: string-animate;
  animation-duration: 1s;
}

.result-chord-animation-show {
  animation-name: chord-animate-show;
  animation-duration: 1s;
}

.result-chord-animation-change {
  animation-name: chord-animate-change;
  animation-duration: 1s;
}

/* removing margin animation due to no previous result */
@keyframes num-animate {
  from {
    color: #ffffff;
    /*margin-right: -50%;*/
  }
  to {
    color: black;
    /* margin-right: 0px; */
  }
}

@keyframes num-prev-animate {
  from {
    color: #ffffff;
    margin-right: -50%;
  }
  to {
    color: #000000;
    margin-right: 0px;
  }
}

@keyframes color-animate-show {
  from {
    width: 10px;
    height: 10px;
  }
  to {
    width: 150px;
    height: 150px;
  }
}

@keyframes color-animate-change {
  0% {
    width: 150px;
    height: 150px;
  }
  50% {
    width: 160px;
    height: 160px;
  }
  100% {
    width: 150px;
    height: 150px;
  }
}

@keyframes string-animate {
  from {
    color: #ffffff;
  }
  to {
    color: #000000;
  }
}

@keyframes chord-animate-show {
  from {
    font-size: 0vh;
  }
  to {
    font-size: 6vh;
  }
}

@keyframes chord-animate-change {
  0% {
    font-size: 6vh;
  }
  50% {
    font-size: 6.2vh;
  }
  100% {
    font-size: 6vh;
  }
}
