.App {
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 75%;
  text-align: center;
  margin: 10px auto;
}

.home-card {
  width: 300px;
  height: 200px;
  margin: 10px;
  border-radius: 50px;
  color: #cccccc;
}

.home-card:hover {
  animation: card-grow 0.5s forwards;
}

#home-card-footer {
  text-decoration: none;
}

@keyframes card-grow {
  0% {
  }
  100% {
    color: #eeeeee;
    border-radius: 0px;
  }
}
