.App {
  text-align: center;
}

.bias-container {
  align-items: baseline;
  width: 90%;
  text-align: center;
  margin: 10px auto;
  border: 1px solid, grey;
}

.bias-cell {
  height: 10px;
  width: 10px;
  margin: 0px auto;

  float: left;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 75%;
  text-align: center;
  margin: 10px auto;
}

.home-card {
  margin: 5px;
  text-decoration: none;
  color: #cccccc;
  box-shadow: 5px 5px;
}

.home-card:hover {
  animation: card-grow 0.5s forwards;
}

#home-card-footer {
  width: 100%;
}

@keyframes card-grow {
  from {
    color: #cccccc;
  }
  to {
    color: #eeeeee;
    box-shadow: 10px 10px grey;
  }
}
