.App {
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 75%;
  text-align: center;
  margin: 10px auto;
}

.home-card {
  margin: 5px;
  border-radius: 25px;
  color: #cccccc;
  box-shadow: 3px 5px;
}

.home-card:hover {
  animation: card-grow 0.5s forwards;
}

#home-card-footer {
  text-decoration: none;
  width: 100%;
  border-radius: 25px;
}

#home-card-footer:hover {
  animation: button-grow 0.5s forwards;
}

@keyframes card-grow {
  from {
  }
  to {
    color: #eeeeee;
    border-radius: 0px;
    box-shadow: 5px 10px grey;
  }
}

@keyframes button-grow {
  from {
  }
  to {
    border-radius: 0px;
  }
}
